<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <title>ALM-埃罗芒老兄</title>
    <meta name="keywords" content="埃罗芒老兄,ALM,埃罗芒">
    <meta name="description" content="埃罗芒老兄 个人网站 '沉睡的传说，动摇的事实。真实下的黑暗，废墟上的噩梦。大海的香气，迟来的后悔。'">
</head>
<body>
<a href="../index.html">索引</a><br>
<div id="app" v-if="seen">
    <span style="font-size: xx-large">VUE学习</span>

    <br>
    {{msg}}
    <div id="test">
        {{test}}
        <div>
            <span v-bind:title="msg">2.鼠标悬停几秒钟查看此处动态绑定的提示信息！</span>
        </div>
        <div>
            4.循环
            <p v-for="doItem in doItems">
                {{doItem.text}}
            </p>
        </div>
        <div>
            5.事件监听
            <button v-on:click="reverseMessage">点击事件</button>
        </div>
        <div>
            6.{{formInput}}
            <label>
                <input v-model="formInput">
            </label>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>
    let mainDiv = new Vue({
        el: '#app',
        data() {
            return {
                msg: '1.声明式渲染 控制台修改mainDiv.test的值',
                test: '2.声明式渲染 控制台修改mainDiv.seen 控制显示与否',
                seen: true,
                doItems: [
                    {text: 'v-for循环'},
                    {text: 'asdfasfdad'},
                    {text: 'mainDiv.doItems.push({text:"这是新增item"})'},
                ],
                formInput:"表单输入双向绑定"
            }
        },
        methods: {
            reverseMessage() {
                this.msg = this.msg.split('').reverse().join('')
            },
        }
    });

</script>
</html>
