<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <title>ALM-埃罗芒老兄</title>
    <meta name="keywords" content="埃罗芒老兄,ALM,埃罗芒">
    <meta name="description" content="埃罗芒老兄 个人网站 '沉睡的传说，动摇的事实。真实下的黑暗，废墟上的噩梦。大海的香气，迟来的后悔。'">
</head>
<body>
<a href="../index.html">索引</a><br>
<div id="app" v-if="seen">
    <span style="font-size: xx-large">VUE学习</span>
    <br>
    <div>
        <strong>1.组件模板</strong>
        <ol>
            <!-- 创建一个 todo-item 组件的实例 -->
            <!--<todo-item ></todo-item>-->
            <todo-item v-for="item in list" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>
    <div>
        <strong>2.双向绑定</strong>
        <br>
        <b>修改后console.log查看</b> <br>
        ajax接收的数据{{data}}<br>
        经vue中转 实现双向绑定 <br>
        - vue修改 mainDiv.data.age=12 <br>
        - vue添加新属性 mainDiv.data.birthDay='2018-02-25' 原始data中也会添加 但视图不更新<br>
        - 原始data数据修改 data.name='Lina' <br>
        - Object.freeze()冻结绑定
    </div>

    <div>
        <strong>3.vue生命周期及其他调用函数</strong>
        <img src="../img/lifecycle.png">
    </div>

</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    // 定义名为 todo-item 的新组件
    Vue.component('todo-item', {
        template: '<li>这是一个{{todo.text}}</li>',
        props: ['todo'],
    });

    let data={'id':1,'name':'John','age':24}
    data.birtyDay=''

    let mainDiv = new Vue({
        el: '#app',
        data() {
            return {
                data:data,
                seen:true,
                list: [
                    {id: 0, text: '天路'},
                    {id: 3, text: '歌手'},
                    {id: 5, text: 'li'},

                ],
            }
        },
        created(){
            console.log('这是构造函数'+this.data.seen)
        },
        methods: {}
    });

</script>
</html>
