<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <title>ALM-埃罗芒老兄</title>
    <meta name="keywords" content="埃罗芒老兄,ALM,埃罗芒">
    <meta name="description" content="埃罗芒老兄 个人网站 '沉睡的传说，动摇的事实。真实下的黑暗，废墟上的噩梦。大海的香气，迟来的后悔。'">
    <style>
        .act {
            color: red;
        }

        .big {
            font-size: x-large;
        }
    </style>
</head>
<body>
<a href="../index.html">索引</a><br>
<div id="app">
    <strong>1.class</strong> <br>
    - <span class="big" @click="actF=!actF" :class="{act:actF}">:class="{act:actF}" 点我</span> <br>
    - <span @click="bigF=!bigF" :class="actO">classObject </span> <br>
    - <span>class数组</span> <br>

    <strong>2.style</strong> <br>
    - 用法同class <br>
    <br>
    <strong>3.key 复用元素</strong> <br>
    <template v-if="actF">
        <p>userName</p>
        <input placeholder="222">
    </template>
    <template v-else>
        <p>Email</p>
        <input placeholder="333">
    </template>
    <template v-if="actF">
        <p>userName</p>
        <input placeholder="222" key="acc1">
    </template>
    <template v-else>
        <p>Email</p>
        <input placeholder="333" key="acc0">
    </template>
    <br>
    <strong>4. v-if and v-show</strong> <br>
    - v-if真正渲染 <br>
    - v-show display:none <br>

    <strong>5.v-for</strong>
    <ul>
        最好加key <br>
        <span>(o,i) of users</span><br>
        <span>(v|v,k|v,k,i) of o</span><br><br>
        <li v-for="(o,i) of users" :key="o.id">
            {{i}}-{{o.name}}-{{o.age}} <br>

            <span v-for="(v,k,i) of o">{{k}}-{{v}},</span>
        </li>

    </ul>
    <strong>6.数组变异方法</strong> <br>
    - 改变原数组 相当于指针操作
    push() &nbsp;
    pop() &nbsp;
    shift() &nbsp;
    unshift() &nbsp;
    splice() &nbsp;
    sort() &nbsp;
    reverse() &nbsp; <br>
    - 非响应式方法filter(), concat() 和 slice() <br>
    &nbsp;&nbsp;&nbsp;vm.items[1] = 'x' // 不是响应性的,用Vue.set(vm.items, indexOfItem, newValue) <br>
    &nbsp;&nbsp;&nbsp;vm.items.length = 2 // 不是响应性的,用vm.items.splice(newLength) <br>
    <strong>6.对象响应式操作</strong><br>
    - Vue.set(object, key, value)给添加属性 <br>
    - add多个属性
    vm.user = Object.assign({}, vm.user, {
    age: 27,
    favoriteColor: 'Vue Green'
    })

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    let vm = new Vue({
        el: '#app',
        data() {
            return {
                actF: true,
                bigF: false,
                users: [
                    {id:'1',name: 'John', age: 15,sex:'1'},
                    {id:'3',name: 'Lina', age: 22,sex:'1'},
                    {id:'2',name: 'Alex', age: 97,sex:'0'},
                    {id:'4',name: 'Axe', age: 45,sex:'0'},
                ],
            }
        },
        computed: {
            actO() {
                return {
                    act: this.actF && this.bigF,
                }
            }
        },
        methods: {}
    })

</script>
</html>