/**
  div背景颜色级别
 */
.divbg1{
  background-color: #F2F6FC;
}
.divbg2{
  background-color: #EBEEF5;
}
.divbg3{
  background-color: #E4E7ED;
}
.divbg4{
  background-color: #DCDFE6;
}

.divMain{
  max-width: 1199px;
  margin-left: auto;
  margin-right: auto;
}
